 <!-- Саме цей код із app.html зараз відповідає за те, що ти бачиш на екрані браузера заголовок і кнопку! -->
<!-- <p>{{ title1 }} </p>   виводить назву змінної -->
    <!--<h1>Словник: {{ title2() }}</h1>                 {{ title() }} — зверни увагу на круглі дужки! Оскільки наша змінна title тепер не просто текст, а "розумна коробка" (Сигнал), -->

<!-- <button (click)="findWord('hello')">Знайти слово "hello"</button> -->




<!-- Замінюємо 'hello' на нашу розумну коробку з мікрофона -->
<!-- <button (click)="findWord(speechService.transcript())">Знайти почуте слово</button> -->

    <!--//@if (result()) — це умова. Ми кажемо Angular: "Якщо в нашій коробці result() є якісь  дані, тоді покажи цей блок <div></div> -->
<div style="margin-bottom: 15px;">
  <button (click)="speechService.start('en-US')">🎤 Говорити   🇬🇧 EN</button>
  <button (click)="speechService.start('uk-UA')">🎤 Говорити🇺🇦 UK</button>
  <button (click)="speechService.start('ru-RU')"> 🎤 Говорити🇷🇺 RU</button>
</div>
 
<!-- 2. Показуємо слово, яке почув мікрофон -->
<p>Ви сказали: <span style="color: blue;"> {{ speechService.transcript() }}</span></p>

 @if (result()) { 

  <div style="margin-top: 20px; padding: 15px; background: #f0f8ff; border-radius: 8px;">
    <h2>Знайдене слово: {{ result()[0].word }}</h2>   
      <!-- //Візьми найперший елемент списку (під номером [0]) і дістань звідти тільки текст слова (.word)". -->
  </div>
}
<br><br> <!-- Це просто відступи, щоб кнопки не злипалися -->

 




<!-- Цей блок з'явиться ТІЛЬКИ тоді, коли словник поверне результат -->
<!-- @if (result()) {
  <div style="margin-top: 20px; padding: 15px; background: #e6f7ff; border-radius: 8px; border: 1px solid #91d5ff;">
    <h2>📘 Знайдене слово: {{ result()[0].word }}</h2>
    
    <!-- Транскрипція (як вимовляти) -->
    <!-- <p><b>Вимова:</b> {{ result()[0].phonetic }}</p>
    
    <!-- Найперше пояснення значення слова -->
    <!-- <p><b>Значення (англ):</b> {{ result()[0].meanings[0].definitions[0].definition }}</p>
  </div>
} -->
 

<!-- 1. Блок з англійським значенням (Блакитний) -->
@if (result()) {
  <div style="margin-top: 20px; padding: 15px; background: #e6f7ff; border-radius: 8px; border: 1px solid #91d5ff;">
    <h2>📘 Знайдене слово: {{ result()[0].word }}</h2>
    <p><b>Вимова:</b> {{ result()[0].phonetic }}</p>
    <p><b>Значення (англ):</b> {{ result()[0].meanings[0].definitions[0].definition }}</p>
  </div>
}

<!-- 2. Блок з українським перекладом (Жовтий) -->
@if (translation()) {
  <div style="margin-top: 15px; padding: 15px; background: #fffbe6; border-radius: 8px; border: 1px solid #ffe58f;">
    <h2>🇺🇦 Переклад:</h2>
    <p style="font-size: 20px; font-weight: bold; color: #d46b08;">
      {{ translation() }}
    </p>
  </div>
}

